<header class="px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm mt-1">
    <a
      href="/"
      class="flex items-center justify-center bg-popo p-3 w-[8%] rounded-lg text-white font-semibold 
      shadow-md hover:bg-popo-dark hover:scale-105"
    >
      Home page
    </a>
  </div>
</header>
<main class="">
  <div class="ms-60 me-60">
    <.flash_group flash={@flash} /> <%= @inner_content %>
  </div>
</main>
